{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/group.css' %}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="home-pro">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              {% if profile.image %}
              <img src="{{profile.image.url}}" alt="{{request.user.username}}'s profile image">
              {% else %}
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
            <p class="subtitle is-6"><a href="{% url 'profile' request.user.id %}">@{{profile.user.username}}</a></p>
          </div>
        </div>

        <div class="content">
          {% if profile.job_title %}
          {{profile.job_title}}
          {% endif %}
          <span style="display:block;">Connections: {{request.user.profile.friends.count}}</span>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 pb-3">Your Groups</p>
            {% for group in groups %}
            <p class="subtitle"><a href="{% url 'view_group' group.pk %}">{{group.group_name}}</a></p>
            {% empty %}
            <p class="subtitle">You are not part of any groups. <a href="{% url 'groups' %}">Explore Groups</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-posts">
    <button class="button is-primary" id="myBtn" style="margin: 0 auto;">
      <strong>Create Post</strong>
    </button>
    <!-- Post List -->
    <div class="post-list mt-4">
      {% for post in posts %}
      <div class="post card {% cycle 'post-white' 'post-gray' %} p-2 mt-4">
        <div class="post-header">
          <div class="post-author" style="display: flex; align-items: center;">
            <img class="image is-48x48" style="border-radius: 50%;"
            src="{% if post.author.profile.image %}{{ post.author.profile.image.url }}{% else %}https://bulma.io/images/placeholders/96x96.png{% endif %}" 
            alt="{{ post.author.username }}'s profile image">
            <div class="post-author-info pl-4">
              <span class="post-author-name"><strong>{{ post.author.get_full_name }}</strong></span>
              <span class="post-author-username" style="display:block;"><a href="{% url 'profile' post.author.id %}">@{{ post.author.username }}</a></span>
            </div>
          </div>
          <div class="post-date">{{ post.created_at }}</div>
        </div>
        <div class="post-content mt-4 mb-4">{{ post.content }}</div>

        {% if post.author == request.user %}
        <div class="post-actions">
          <button class="button is-small is-danger" onclick="deletePost({{ post.id }})">Delete</button>
          <button class="button is-small is-primary" onclick="openEditModal({{ post.id }}, '{{ post.title|escapejs }}', '{{ post.content|escapejs }}')">Edit</button>
        </div>
        {% endif %}
        <hr>
        <p class="comment-text-{{post.id}} text-center"><strong>Comments ({{ post.post_reply.count}})</strong></p>
  
        <div class="comment-info-{{post.id}} hidden">
            {% for comment in post.post_reply.all %}
            <div class="comment">
                <div><strong><a href="{% url 'profile' comment.user.id %}">{{comment.user}}</a></strong></div>
                {{comment.comment|safe}}
            </div>
            {% endfor %}
            <div class="reply-box">
                <form method="POST" action="{% url 'posts:post_comment' post.id %}">
                    {% csrf_token %}
                    {{comment_form|crispy}}
                    <button type="submit" class="button is-primary">Send</button>
                </form>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <form id="postForm" method="POST" action="{% url 'posts:add_post' %}" class="form" enctype="multipart/form-data">
          {% csrf_token %}
          <h1 class="title text-center fs-4">Create Post</h1>
          {{ form|crispy }}
          {{ form.media }}
          <div class="d-flex justify-content-center">
            <button type="button" id="postButton" class="button primary">Post</button>
          </div>
        </form>
      </div>
    </div>

          <!-- Edit Modal -->
      <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="closeEdit">&times;</span>
          <form id="editForm" method="POST" action="" class="form">
            {% csrf_token %}
            <h1 class="title text-center fs-4">Edit Post</h1>
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input type="text" name="title" class="input" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Content</label>
              <div class="control">
                <textarea name="content" class="textarea" required></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" id="updateButton" class="button primary">Update</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function () {
  modal.style.display = "block";
};

// When the user clicks on <span> (x), close the modal
span.onclick = function () {
  modal.style.display = "none";
};

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
  if (event.target === modal) {
    modal.style.display = "none";
  }
};

// Add an event listener to the "Post" button
document.getElementById("postButton").addEventListener("click", function () {
  savePost();
});

// Function to save the post and perform additional actions
function savePost() {
  // Your code to save the post goes here

  // Close the modal
  modal.style.display = "none";

  // Reload the page by redirecting to the same URL
  window.location.href = window.location.href;
}



// Submit the form using AJAX, close the modal, and refresh the post list
document.getElementById("postButton").addEventListener("click", function () {
  var form = document.getElementById("postForm");
  var formData = new FormData(form);

  // Perform the AJAX request
  var xhr = new XMLHttpRequest();
  xhr.open(form.method, form.action, true);
  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
  xhr.onload = function () {
    if (xhr.status === 200) {
      form.reset(); // Reset the form fields
      modal.style.display = "none"; // Close the modal
      window.location.reload(); // Reload the home page
    } else {
      // Handle errors if needed
    }
  };
  xhr.send(formData);
});

// When the user clicks on the "Edit" button, open the edit modal
function openEditModal(postId, title, content) {
  var modal = document.getElementById("editModal");
  var form = document.getElementById("editForm");
  var closeButton = document.getElementsByClassName("closeEdit")[0];

  // Set the form action URL with the post ID
  form.action = "/posts/edit/" + postId + "/";

  // Populate the form fields with the title and content values
  form.elements["title"].value = title;
  form.elements["content"].value = content;

  // Display the edit modal
  modal.style.display = "block";

  // When the user clicks on the close button, close the modal
  closeButton.onclick = function () {
    modal.style.display = "none";
  };

  // When the user clicks outside the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
}

// When the user clicks on the update button, submit the form
document.getElementById("updateButton").addEventListener("click", function () {
  document.getElementById("editForm").submit();
});

// Function to delete a post and reload the page
function deletePost(postId) {
  if (confirm("Are you sure you want to delete this post?")) {
    fetch(`/posts/delete/${postId}/`, {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": "{{ csrf_token }}"
      }
    })
      .then(response => {
        if (response.status === 200) {
          location.reload(); // Reload the page after the post is deleted
        } else {
          // Handle errors if needed
        }
      })
      .catch(error => {
        // Handle errors if needed
      });
  }
}

const commentInfo = document.querySelectorAll("[class^='comment-info']");
    const commentTxt = document.querySelectorAll("[class^='comment-text']");

    for(let i = 0; i < commentTxt.length; i++){
        commentTxt[i].addEventListener("click", function() {
            if (commentInfo[i].classList.contains("hidden")) {
                commentInfo[i].classList.remove("hidden");
            }
            else {
                commentInfo[i].classList.add("hidden");
            }
        });
    }
</script>
{% endblock %}