{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<section class="font-text">
    <div class="landing-main-title">
        Unlock empowerment.
        <br>
        Expand your knowledge.
        <br>
        Cultivate connections.
    </div>
    <div class="landing-main-text">
        <p>
            Join a vibrant community dedicated to accelerating the growth of the LGBTQ+ community and driving economic empowerment.
            Inclusinet is a dynamic platform designed to connect individuals within the queer community,
            providing invaluable mentorship opportunities across diverse industries.
        </p>
    </div>
    <div class="landing-btns">
        <a href="/accounts/signup/" class="btn-join-log">Join Now</a>
        <a href="/accounts/login/" class="btn-join-log">Log In</a>
    </div>
    <div class="landing-arrow">
        <i class="fa-sharp fa-solid fa-down-long"></i>
    </div>
</section>
<section class="font-text">
    <div class="who-box">
        <h2>Who's Inclusinet for?</h2>
        <div class="line-one"></div>
            <p>
                Welcome to Inclusinet! Our platform is designed to cater to the needs of the LGBTQ+ community and allies.
                Whether you are seeking guidance, mentorship, or simply looking to connect with like-minded professionals, this is the perfect space for you.
            </p>
    </div>
    <div class="boxes-container">
        <div class="box-row">
            <h2>Learn</h2>
            <div class="line-two"></div>
            <p>
                Discover new perspectives, broaden your understanding, and engage with mentors who can help you navigate your professional path.
                Join us to expand your knowledge, gain valuable insights, and foster personal and career development.
            </p>
        </div>
        <div class="box-row">
            <h2>Share</h2>
            <div class="line-two"></div>
            <p>
                Exchange experiences, insights, and ideas with a vibrant community of professionals who understand and embrace the LGBTQ+ journey.
                Join us to share your expertise, contribute to meaningful discussions, and foster a supportive network that celebrates diversity and inclusivity.
            </p>
        </div>
        <div class="box-row">
            <h2>Connect</h2>
            <div class="line-two"></div>
            <p>
                Connect with professionals from diverse backgrounds who share your experiences and goals. 
                Expand your network, foster collaborations, and forge valuable relationships that can propel your personal and professional growth.
            </p>
        </div>
    </div>
</section>

<script src="https://kit.fontawesome.com/6131d31248.js" crossorigin="anonymous"></script>
{% endblock %}