{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}Delete Group{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Group Deletion</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %} 
            <p>Are you sure you want to delete "{{object.grouo_name}}"?</p>
            <input type="submit" value="Confirm" class="button is-primary">
        </form>
    </div>
</div>
{% endblock %}