html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.home-pro {
    width: 100%;
    margin-top: 3rem;
}

.home-posts {
    width: 100%;
}

/* Navigation */

.nav-pic {
    height: 25px;
    width: 25px;
}

/* Forms */

.form {
    padding: 2rem;
    background-color: #00d1b21c;
}

.modal-content {
    margin: 1rem;
}

.no-style {
    border: none;
    background-color: inherit
}

#myBtn {
    display: flex;
}

.search {
    display: flex;
    flex-direction: row;
}

.search-icon {
    background-color: transparent;
    border: none;
}

/* Profiles */

.title.is-4 {
    display: flex;
}
