.home-pro {
    width: 100%;
    margin-top: 3rem;
}

.home-posts {
    width: 100%;
}

/* Navigation */

.nav-pic {
    height: 25px;
    width: 25px;
}

/* Forms */

.form {
    padding: 2rem;
    background-color: #00d1b21c;
}

.modal-content {
    margin: 1rem;
}

.no-style {
    border: none;
    background-color: inherit
}

#myBtn {
    display: flex;
    width: 31px;
}

/* Profiles */

.title.is-4 {
    display: flex;
}

@media screen and (min-width: 800px) {
    .home-pro {
        width: 30%;
    }

    .home-posts {
        width: 70%;
    }
}