@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lexend:wght@200;300;400;500&display=swap');

main {
    background: url(../images/background-image.webp);
    background-size: cover;
}

/* Landing Page */

/* Nav Bar */

.landing-nav {
    border-bottom: 5px solid #000;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.landing-nav h2 {
    font-family: 'Krona One', sans-serif;
    margin: 20px 0 20px 20px;
}

.buttons-nav-alignment {
    margin-right: 15px;
    font-family: 'Lexend', sans-serif;
}

/* Main Area */

.font-text {
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

.landing-main-title {
    font-weight: 500;
    font-size: 4.8em;
    line-height: 100px;
    margin-top: 9.5%;
}

.landing-main-text {
    font-weight: 300;
    font-size: 1.8em;
    margin: 20px auto 0;
    max-width: 1500px;
}


.landing-btns {
    margin-top: 28px;
}

.btn-join-log {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    background: url(../images/white-noise.webp) center;
    padding: 8px 12px;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 0 5px;
    transition: background-color .8s ease;
}

.btn-join-log:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

/* Boxes Area */

.who-box {
    max-width: 700px;
    margin: 9.5% auto 20px;
    background: url(../images/white-noise.webp) center;
    border-radius: 30px;
    padding: 15px;
    border: 2px solid #000;
}

.who-box p {
    margin: 0;
    max-width: 650px;
    line-height: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

.boxes-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.box-row {
    max-width: 400px;
    background: url(../images/white-noise.webp) center;
    border-radius: 30px;
    padding: 15px;
    margin: 0 10px 30px;
    border: 2px solid #000;
}

.box-row p {
    line-height: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

.line-two {
    border: 1px solid #000;
    max-width: 350px;
    margin: 10px auto;
}

.line-one {
    border: 1px solid #000;
    max-width: 650px;
    margin: 10px auto;
}

/* Landing Page Footer */

.footer-title {
    text-align: center;
    border-top: 5px solid #000;
    margin-top: 30px;
    width: 100%;
}

.footer-title h2 {
    margin: 10px 0;
    font-family: 'Krona One', sans-serif;
    font-size: 2em;
}

/* Media Queries */

@media screen and (min-height: 1200px) {
    .footer-title {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 800px) {
    .boxes-container {
        flex-direction: column;
        align-items: center;
    }

    .landing-main-title {
        font-size: 3.8em;
        line-height: 75px;
    }

    .font-text {
        margin: 0 5px;
    }

    .landing-nav {
        flex-direction: column;
    }

    .landing-nav h2 {
        margin: 20px 0 20px 0px;
    }

    .buttons-nav-alignment {
        margin: 0 0 35px;
    }
}


@media screen and (max-width: 450px) {
    .landing-main-title {
        font-size: 2.5em;
        line-height: 50px;
    }

    .landing-main-text {
        font-size: 1.3em;
    }
}
