{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container imagebg">
    <div class="post-container">
        <div class="title-heading">
            <p>{{ post.title }}</p>
        </div>
        <div class="content-container">
            <p>{{ post.content }}</p>
        </div>
        <div class="post-date">
            <p>
                {{ post.date_added }}
            </p>
        </div>
        <button type="button"><a href="{% url 'add_comment'%} "
        >Comment</a></button>
        <button type="button"><a href="{% url 'all_comments' %}">Add Comment</a></button>
    </div>
</div>
{% endblock %}